<article class='post text mini-post'>
  <h1 class='title'>
    <%= link_to episode.title, [episode.show, episode] %>
  </h1>

  <aside class='meta-info mini'>
    <p class='episode-number'>
      <%= link_to [episode.show, episode] do %>
        Episode #<%= episode.number %>
      <% end %>
    </p>
    <p class='post-date'>
      <%= l episode.published_on %>
    </p>
  </aside>

  <p><%= episode.description %></p>
</article>
