<li class='episode-item'>
  <header class="header-wrapper">
    <h4 class='episode-title'>
      <%= link_to episode.title, [episode.show, episode] %>
    </h4>
  </header>
  <aside class="meta-wrapper">
    <p class='episode-number'>
      <%= link_to [episode.show, episode] do %>
        Episode #<%= episode.number %>
      <% end %>
    </p>
    <p class='episode-post-date'>
      <%= l episode.published_on %>
    </p>
  </aside>

  <div class="text-wrapper">
    <p><%= episode.description %></p>
  <div>
</li>
