<h2 class='logo'>
  <a href='/'>
    <%= image_tag("#{show.slug}-small.png") %>
  </a>
</h2>

<hgroup>
  <h2>
    <%= link_to show.title, show_episodes_path(show) %>
  </h2>
  <h3>
    <%= link_to 'All Episodes', show_episodes_path(show) %>
    <%= link_to 'iTunes', show.itunes_url %>
    <%= link_to 'RSS', show_episodes_path(show, format: :xml) %>
    <% if show.stitcher_url.present? %>
      <%= link_to 'Stitcher', show.stitcher_url %>
    <% end %>
    <%#== @show.description %>
  </h3>
</hgroup>
