<% content_for :page_title, "#{@episode.show.title} : #{@episode.full_title}" %>
<% content_for :meta_description, @episode.description %>

<% content_for :header do %>
  <%= render @episode.show %>
<% end %>

<section id='posts'>
  <article class='post text'>
    <h1 class='title'>
      <%= link_to @episode.title, [@episode.show, @episode] %>
    </h1>
    <aside class='meta-info'>
      <p class='episode-number'>
        <%= link_to [@episode.show, @episode] do %>
          Episode #<%= @episode.number %>
        <% end %>
      </p>
      <p class='post-date'>
        <%= @episode.published_on.to_time.to_s(:short_date) %>
      </p>
    </aside>

    <p><%= @episode.description %></p>

    <div class="listen">
      <audio preload="none" controls="controls">
        <%= tag :source,
          src: show_episode_path(@episode.show, @episode, format: :mp3),
          type: 'audio/mpeg' %>
      </audio>
      <%= link_to show_episode_path(@episode.show, @episode, format: :mp3) do %>
        Direct Download
      <% end %>
      (<%= number_to_human_size @episode.file_size, precision: 2 %>,
      <%= distance_of_time_in_words @episode.duration.to_f %>)
    </div>

    <% unless @episode.notes.blank? %>
      <h3>Notes &amp; Links</h3>
      <%== format_podcast_notes @episode.notes %>
    <% end %>

    <section id="podcast-questions">
      <h3>To have your questions answered on the air</h3>
      <p>
        Email your questions to <%= mail_to @episode.show.email %> or Tweet to
        us <a href="http://twitter.com/thoughtbot">@thoughtbot</a>.
      </p>
    </section>
  </article>
</section>
