<!DOCTYPE html>
<html lang="en">
  <head prefix="og: http://ogp.me/ns#">
    <meta charset="utf-8" />
    <meta http-equiv="description" name="description" content="<%= yield(:meta_description) || "Weekly podcasts from thoughtbot on design, Ruby on Rails, iOS, and the programmer lifestyle." %>" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= csrf_meta_tags %>
    <%= yield :meta %>
    <title><%= page_title(app_name: t('layouts.app_name')) %></title>
    <%= stylesheet_link_tag '//cloud.typography.com/6716232/768182/css/fonts.css' %>
    <%= stylesheet_link_tag 'http://robots.thoughtbot.com/stylesheets/mobile.css' %>
    <%= stylesheet_link_tag 'http://robots.thoughtbot.com/stylesheets/desktop.css' %>
    <%= stylesheet_link_tag 'application' %>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
  </head>
  <body class="<%= body_class %>">
    <section id="container">
      <%= yield(:header) %>
      <%= yield %>
    </section>

    <footer>
      <section id="footer-container">
        <section class="etc">
          <p>
            Don't just sit there.
            <a href="http://learn.thoughtbot.com?utm_source=thoughtbot&utm_medium=podcasts&utm_campaign=footer">Learn something.</a>
          </p>
          <nav>
            <ul>
              <li>
                <a href='http://twitter.com/thoughtbot' id='twitter'>
                  twitter
                </a>
              </li>
              <li>
                <a href='http://tinyletter.com/thoughtbot' id='contact'>
                  newsletter
                </a>
              </li>
            </ul>
          </nav>
        </section>
      </section>
    </footer>
  </body>
</html>
