<!DOCTYPE html>
<html lang="en">
  <head prefix="og: http://ogp.me/ns#">
    <meta charset="utf-8" />
    <meta http-equiv="Description" name="Description" content="<%= yield(:meta_description) %>" />
    <meta http-equiv="Keywords" name="Keywords" content="<%= yield :meta_keywords %>" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= csrf_meta_tags %>
    <%= yield :meta %>
    <title><%= page_title(app_name: t('layouts.app_name')) %></title>
    <%= stylesheet_link_tag '//cloud.typography.com/6716232/768182/css/fonts.css' %>
    <%= stylesheet_link_tag 'http://robots.thoughtbot.com/stylesheets/mobile.css' %>
    <%= stylesheet_link_tag 'http://robots.thoughtbot.com/stylesheets/desktop.css' %>
    <%= stylesheet_link_tag 'application' %>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
  </head>
  <body class="<%= body_class %>">
    <section id="container">
      <header>
        <%= yield(:header) %>
      </header>
      <%= yield %>
    </section>

    <footer>
      <section id="footer-container">
        <section class="etc">
          <%= yield(:footer) %>
        </section>
      </section>
    </footer>
  </body>
</html>
