<!DOCTYPE html>
<html lang="en">
  <head prefix="og: http://ogp.me/ns#">
    <meta charset="utf-8" />
    <meta name="description" content="<%= yield(:meta_description).presence || t('layouts.description') %>" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= csrf_meta_tags %>
    <%= yield :meta %>
    <title><%= yield(:page_title).presence || t('layouts.app_name') %></title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <%= stylesheet_link_tag :application, media: 'all' %>
    <script type="text/javascript" src="//use.typekit.net/loq1vxq.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>
  <body class="<%= yield :body_class %>">
    <section class="site-container">
      <main class="container wrapper">
        <%= yield(:header) %>
        <%= yield %>
      </main>
      <%= render "partials/footer" %>
    </section>
    <%= render "analytics" %>
  </body>
</html>
